@font-face {
  font-family: 'Moncerrat';
  src: url('../fonts/Montserrat-Regular.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moncerrat SemiBold';
  src: url('../fonts/Montserrat-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moncerrat Medium';
  src: url('../fonts/Montserrat-Medium.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moncerrat Bold';
  src: url('../fonts/Montserrat-Bold.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

  
  /**
    Нормализация блочной модели
   */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
  :where(ul, ol):where([class]) {
    padding-left: 0;
  }
  
  /**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
  body,
  :where(blockquote, figure):where([class]) {
    margin: 0;
  }
  
  /**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
  ):where([class]) {
    margin-block: 0;
  }
  
  :where(dd[class]) {
    margin-left: 0;
  }
  
  :where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
  }
  
  /**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
  :where(ul[class]) {
    list-style: none;
  }
  
  /**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
  p {
    --paragraphMarginBottom: 24px;
  
    margin-block: 0;
  }
  
  p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
  }

  img {
    display: block;
    max-width: 100%;
  }
  
  html {
    height: 100%;
  }

  html,
  :has(:target) {
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100%;
    line-height: 1.5;
  }
  
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* ------------------------------------------------------------- Общие стили */
  :root{
    --color-dark-blue: #1B18CB;
    --color-dark-white: #ffffff;
    --color-medium-blue: #D6DFFF;
    --color-light-blue: #F2F2FF;
    --white: #ffffff;
    --color-black: #000000;
    --color-blue: #A9BCFF;

  
  }
  
  body{
    font-size: 24px;
    font-family: 'Moncerrat Medium';
    background-color: var(--color-light-blue);
    /* padding: 0px 207px 0px 210px; */
  
  }
  
  button{
    border-radius: 60px;
    padding: 24px 45px 24px 44px;
    font-size: 28px;
  }
  
  .btn--white{
    font-size: 24px;
    border: 2px solid var(--color-dark-blue);
    background-color: var(--color-light-blue);
    color: var(--color-dark-blue);
    font-family: 'Moncerrat Bold';
    padding: 18px 42px 16px;
  
  }
  /* ----------------------------------------------------------- */
  
  
  /* --------------------------------------------hero-секция */
  
  h1{
    font-size: 48px;
    line-height: 1.25;
  
  }
  
  h1, h2, h3{
    color: var(--color-dark-blue);
    font-family: 'Moncerrat SemiBold';
  
  }
  
  h2{
    font-size: 48px;
  
  }
  
  /* ----------------------------------------------------------------------------Сектор admin */
.admin__grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 92px auto;
    align-items: center;
    overflow: hidden;
}


/* .flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    gap: 3rem;
} */
  
.admin-panel--left{
    background-color: var(--color-blue);
    color: var(--white);
    font-size: 20px;
    padding: 70px 0px 0px 1vw;
    height: 100%;
}

input[type=text] {
  width: 300px;
  box-sizing: border-box;
  border: none;
  border-radius: 60px;
  font-size: 16px;
  background-color: white;
  background-image: url('./src/icons/icons8-search-50\ 1.svg');
  background-position: 10px 5px; 
  background-repeat: no-repeat;
  padding: 10px 20px 12px 40px;
}

.input__flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

h2{
  display: inline-block;
  color: var(--color-black);
  font-size: 36px;
} 

.grid-2 > h1{
    text-align: center;
    font-family: 'Moncerrat Medium';
    font-size: 40px;
}

.grid-1{
    padding-left: 1vw;
}

.grid-3{
    align-self: stretch;
    background-color: var(--color-blue);
}
.grid-4{
padding: 0 3%;
}

.admin__img{
    border-radius: 50%;
}
.admin__text > h3 > a{
    color: var(--white);
    text-decoration: none;
}
.admin__text > h3{
    color: var(--white);
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    font-family: 'Moncerrat SemiBold';
}
.admin > div > div >a{
    color: var(--white);
    text-decoration: none;
}
.admin > div > div >  a:visited{
    color: var(--white);
    text-decoration: none;
}

.a--choosen{
    text-decoration: underline !important;
}
.a--choosen:visited{
    text-decoration:  underline !important;
}
.admin__inner{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}
  
  /* -------------------------------------------------------------------------------------------------------------------- */
  
  /* ---------------------------------------------------------------------------------Table */
::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #767676;
  height: 30px;
  border-radius: 30px;
  
}
  /* ----------------------------------------------------------------------------- */
  
  /* -------------------------------------------------------------------------------------------------------------------- */
  
  
  /* -----------------------------------------------------------------------------------------------------------------right */
.cards__container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: stretch;
}

.cards__container > div{
    width: 45%;
}

.edit__card{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit__card button{
    padding: 8px 12px;
    font-size: 20px;
    font-family: 'Moncerrat semiBold';
}

.cards__container > div > img{
    height: 450px;
    object-fit:  cover;
}

  
  /* -------------------------------------------------------------------------------------------------------------------- */
  
  
  
  /* --------------------------------------------Media-pal */
  @media(max-width: 1500px){
    /* Общие стили */
    button{
      font-size: 20px;
    }
  
    /* --------------------------------Header */
 
  /* ------------------------------------------------ */
  /* ----------------------------------------- Admin */
  .admin__inner{
    flex-direction: column;
    align-items: flex-start;
    /* text-align: center; */
    margin: 3vw;
    margin-left: 20px;
  }

  .admin__links{
    margin: 3vw;
    margin-left: 20px;
  }
  /* ------------------------------------------------ */
  /* -------------------------------------------Grid */
  
  .grid-1{
    padding-left: 40px;
  }
  .grid-3{
    padding-left: 0;
  }
  /* ------------------------------------------------ */
  .input__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  h2{
    display: inline-block;
    color: var(--color-black);
    font-size: 36px;
  }

  /* ------------------------------------------------- */
  .cards__container{
    flex-direction: column;
  }
  .cards__container > div{
    width: 100%;
}

.cards__container > div > img{
    height: max(500px, 70vh);

}  
  }

@media(max-width: 900px){
  .--not-mobile{
    display: none;
  }
  .grid-4{
    grid-column: span 2;
  }
  h1, h2{
    margin: 12px;
  }
  .grid-2 > h1, h2{
    font-size: 20px;
  }
}

.input__flex{
    margin-bottom: 20px;
}