@font-face {
  font-family: 'Moncerrat';
  src: url('../fonts/Montserrat-Regular.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moncerrat SemiBold';
  src: url('../fonts/Montserrat-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moncerrat Medium';
  src: url('../fonts/Montserrat-Medium.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moncerrat Bold';
  src: url('../fonts/Montserrat-Bold.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

  /**
    Нормализация блочной модели
   */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
  :where(ul, ol):where([class]) {
    padding-left: 0;
  }
  
  /**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
  body,
  :where(blockquote, figure):where([class]) {
    margin: 0;
  }
  
  /**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
  ):where([class]) {
    margin-block: 0;
  }
  
  :where(dd[class]) {
    margin-left: 0;
  }
  
  :where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
  }
  
  /**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
  :where(ul[class]) {
    list-style: none;
  }
  
  /**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
  p {
    --paragraphMarginBottom: 24px;
  
    margin-block: 0;
  }

  address{
    font-style: normal;
  }
  
  /**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
  p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
  }
  
  
  /**
    Упрощаем работу с изображениями
   */
  img {
    display: block;
    max-width: 100%;
  }
  
  /**
    Наследуем свойства шрифт для полей ввода
   */
  /* input,
  textarea,
  select,
  button {
    font: inherit;
  } */
  
  html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
  }
  
  /**
    Плавный скролл
   */
  html,
  :has(:target) {
    scroll-behavior: smooth;
  }
  
  body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
  }
  
  /**
    Приводим к единому цвету svg-элементы
   */
  
  /**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
  
  /**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* ------------------------------------------------------------- Общие стили */
  :root{
    --color-dark-blue: #1B18CB;
    --color-dark-white: #ffffff;
    --color-medium-blue: #D6DFFF;
    --color-light-blue: #F2F2FF;
    --white: #ffffff;
    --color-black: #000000;
  
  }
  
  body{
    font-size: 24px;
    font-family: 'Moncerrat Medium';
    background-color: var(--color-light-blue);  
  }
  
  button{
    border-radius: 60px;
    padding: 24px 45px 24px 44px;
    font-size: 28px;
  }
  
  .btn--white{
    font-size: 24px;
    border: 2px solid var(--color-dark-blue);
    background-color: var(--color-light-blue);
    color: var(--color-dark-blue);
    font-family: 'Moncerrat Bold';
  }

  nav a{
    text-decoration: none;
    color: black; 
  }

  .container__wrapper{
    /* max-width: 704px;
    min-width: 428px; */
    width: 80vw;
    margin: 0 auto;
  }
  
   .btn--white > a{
    color: var(--color-dark-blue);
    text-decoration: none;
   }
  
   .btn--white > a:hover{
    color: var(--color-dark-blue);
   }
   
  nav a{
    text-decoration: none;
    color: black; 
  }
  /* ----------------------------------------------------------- */
  
  .footer{
    font-size: 14px;
    font-family: 'Moncerrat';
    color: var(--color-black);
  }
  
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .ul__nav{
    max-width: 483px;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .ul__nav>li{
    display: inline;
  
  }
  
  .ul__nav a{
    color: var(--color-black);
    text-decoration: none;
  
  }
  .header.--mobile{
    display: none;
   }

h1{
    color: var(--color-dark-blue);
    margin: 0;
}
  
  /* ---------------------------------------------------------------------------------Сектор с ключами */
.head__projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.head__projects > h1{
    display: inline-block;
}
.head__projects > button{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

  .grid{
    width: 100%;
    display: flex;
    /* grid-template-rows: 354px 384px; */
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    margin-bottom: 10vh;
  }
  
  .grid > div{
      /* max-height: 450px; */
      /* max-width: 370px; */
      overflow: hidden;
  }
  
.grid > div > h2{
    color: var(--color-dark-blue);
    margin: 0;
}

  .grid > div > img{
    /* width: auto; Автоматическая ширина изображения */
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    width: 30vw;
    height: 60vh;
  }
  
  .grid-1, .grid-3, .grid-2{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    gap: 3vh;
  }
  
  .grid-1 button{
    margin: 0 auto;
  }
  .grid-2 button{
    margin: 0 auto;
  }
  .grid-3 button{
    margin: 0 auto;
  }
  
  .grid-3 button{
    margin-bottom: 70px;
  }
  
  .--mobile{
    display: none;
  }
  .--mobile-double{
    display: none;
  }
  /* -------------------------------------------------------------------------------------------------------------------- */
  
  
  /* -----------------------------------------------------------------------------------------------------------Footer */
  .header{
    font-size: 14px;
    font-family: 'Moncerrat';
    color: var(--color-black);
  }
  
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
  
  }
  
  .ul__footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 228px;
    width: 50%;
  }
  
  .ul__footer>li{
    display: inline;
  
  }
  
  .footer a{
    color: var(--color-black);
    text-decoration: none;
  }
  
  
  .ul__footer a{
    color: var(--color-black);
    text-decoration: none;
  
  }
  
  .footer .social--media > a > img{
    width: 37px;
    height: 37px;
    display: inline-block;
  }
  
  .social--media > a{
      display: inline-block;
  }
  
  /* -------------------------------------------------------------------------------------------------------------------- */
  /* --------------------------------------------Media-pal */
  @media(max-width: 1200px){
    /* Общие стили */
    body{
      padding: 0px 10vw;
    }
    button{
      font-size: 20px;
    }
  
    .container__wrapper{
      max-width: 704px;
      min-width: 428px;
      width: 80vw;
    }
  
    .btn--white{
      font-size: 16px;
      padding: 12px 30px 12px;
    }
    address{
        font-size: 20px;
    }
    /* --------------------------------Header */
    .ul__nav{
      display: none;
    }
    .ul__nav.--mobile{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 198px;
    }
  
    .header{
      margin-bottom: 3vh;
    }

    .head__projects{
      margin-bottom: 4vh;
    }
  
  
  /* ------------------------------------- */
  /* -------------------------------------------Grid */
  .grid{
    /* flex-direction: column; */
    gap: 8vh;
  }
  
  .grid h2{
    display: block;
    height: 72px;
    font-size: 24px;
  }
  
  .grid > div > img{
    width: 100%;
    margin-top: 24px;
    height: 80%;
  }
  
  .grid-1{
    padding-left: 0;
  }
  .grid-3{
    padding-left: 0;
  }
  
  .grid > div > button{
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .grid > div {
    overflow: visible;
  }

  .grid-1, .grid-3, .grid-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
  }
  .grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 24px;
  }

  .grid > div {
    width: 30%;
  }

  .grid > div > img {
    width: 100%;
    height: auto;
    margin-top: 24px;
}
  /* ------------------------------------------------ */
  /* -------------------------------------------Footer */
  .footer{
    margin-bottom: 103px;
  }
  .ul__footer{
    display: none;
  }
  .ul__footer--contacts{
    display: none;
  }
  
  .ul__footer > li{
    display: inline-block;
    max-width: 306px;
  }
  
  .social--media{
    height: 37px;
    display: inline-block;
  }
  
  .social--media > a > img{
    display: inline-block;
    height: 6vh;
  }
  
  .social--media.--not-mobile{
    display: none;
  }
  
  .footer__ul.--mobile{
    display: block;
    font-size: 14px;
  }
  
  .rules{
    text-decoration: solid;
  }
  /* ------------------------------------------------ */
  }
  
  /* ---------------------------------------------------Mobile */
  @media(max-width: 900px){
    /* Общие стили */
    button{
      font-size: 16px;
    }
  
    .btn--white{
      font-size: 16px;
    }
  
    .container__wrapper{
      max-width: 704px;
      min-width: 200px;
      /* width: 80vw; */
    }
  
    .--not-mobile{
      display: none;
    }
  
    /* --------------------------------Header */
  
    .ul__nav{
      display: none;
    }
    .ul__nav.--mobile{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 198px;
    }
  
    .header{
      margin-bottom: 4vh;
    }
  /* ------------------------------------- */
  /* -------------------------------------------Grid */
  
  .grid > div > img{
    width: 100%;
    margin-top: 24px;
  }
  
  .grid-1{
    padding-left: 0;
  }
  .grid-3{
    padding-left: 0;
  }
  
  .grid > div > button{
    padding: 14px 32px 14px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
  }
  /* ------------------------------------------------ */
  /* -------------------------------------------Footer */
  
  .--mobile-double{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  
  .footer{
    margin-bottom: 103px;
  }
  
  .footer__ul  img{
    width: 20vw;
    display: inline-block;
  }
  
  .footer__ul a, p{
    display: block;
    font-size: 14px;
    color: var(--color-black);
    text-decoration: none;
    display: inline-block;
  }
  .footer__ul.--mobile-double > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .ul__footer{
    display: none;
  }
  .ul__footer--contacts{
    display: none;
  }
  
  .ul__footer > li{
    display: inline-block;
    max-width: 306px;
  }
  
  .social--media.--not-mobile{
    display: none;
  }
  
  .footer__ul.--mobile{
    display: block;
    font-size: 14px;
  }
  
  .rules{
    text-decoration: solid;
  }
  
  
  /* ------------------------------------------------ */
  
  .--not-mobile{
    display: none !important;
  }
  }
  
  /* ----------------------------------------------Media */
  
  /* --------------------------------------------Media-pal */
  @media(max-width: 1200px){
    /* Общие стили */
    button{
      font-size: 20px;
    }
  
    .container__wrapper{
      max-width: 704px;
      min-width: 428px;
      /* width: 80vw; */
    }
    /* --------------------------------Header */
    .ul__nav{
      display: none;
    }
    .ul__nav.--mobile{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 198px;
    }
  
   .header.--mobile{
    display: none;
   }
  
    .header__div > p{
      font-size: clamp(0.6em, 0.8em, 1em);
    }
  
  /* ------------------------------------- */
  /* --------------------------------Hero */
  
  /* ------------------------------------------------ */
  /* -------------------------------------------Grid */
  
  .grid-1{
    padding-left: 0;
  }
  .grid-3{
    padding-left: 0;
  }
  
  .grid > div > button{
    display: block;
    margin: 0 auto;
  }

  .grid-1, .grid-3, .grid-2{
    gap: 1vh;
  }

  address{
    font-size: 16px;
  }
  /* ------------------------------------------------ */
  /* -------------------------------------------Footer */
  .footer{
    margin-bottom: 103px;
  }
  .ul__footer{
    display: none;
  }
  .ul__footer--contacts{
    display: none;
  }
  
  .ul__footer > li{
    display: inline-block;
    max-width: 306px;
  }
  
  .social--media{
    height: 37px;
  }
  
  .social--media > a{
    display: inline-block;
    height: 1.5vh;
  }
  
  .social--media.--not-mobile{
    display: none;
  }
  
  .footer__ul.--mobile{
    display: block;
    font-size: 14px;
  }
  
  .rules{
    text-decoration: solid;
  }
  
  /* ------------------------------------------------ */
  
  
  }
  
  
  /* ---------------------------------------------------Mobile */
  @media(max-width: 900px){
    /* Общие стили */
    button{
      font-size: 16px;
    }
  
    .btn--white{
      font-size: 16px;
    }
  
    .container__wrapper{
      max-width: 704px;
      min-width: 200px;
      /* width: 80vw; */
    }
  
    .--not-mobile{
      display: none;
    }

    h1, h2{
        font-size: clamp(1em, 1.2em, 1.5em);
    }
  
    /* --------------------------------Header */
  
    .ul__nav{
      display: none;
    }
    .ul__nav.--mobile{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 198px;
    }
  
    .header{
      display: none;
    }
    .header.--mobile{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3vh;
    }
    .header.--mobile > button{
      border: none;
      background-color: transparent;
      padding: 0;
      height: 2vh;
    }
  
    .header.--mobile > button > img{
      height: 2vh;
    }
  
  /* ------------------------------------- */
  /* ----------------------------------------- Ключи */
  /* ------------------------------------------------ */
  /* -------------------------------------------Grid */

  .head__projects{
    margin-bottom: 3vh;
    line-height: 1;
  }

  .grid button{
    font-size: 16px;
  }

  .grid{
    gap: 4vh;
  }
  
  
  .grid > div > img{
    width: 100%;
    margin-top: 24px;
  }
  
  .grid-1{
    padding-left: 0;
  }
  .grid-3{
    padding-left: 0;
  }
  
  .grid > div > button{
    padding: 14px 32px 14px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
  }
  /* ------------------------------------------------ */
  /* -------------------------------------------Footer */
  
  .--mobile-double{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  
  .footer{
    margin-bottom: 103px;
  }
  
  .footer__ul  img{
    width: 20vw;
    display: inline-block;
  }
  
  .footer__ul a, p{
    display: block;
    font-size: 14px;
    color: var(--color-black);
    text-decoration: none;
    display: inline-block;
  }
  .footer__ul.--mobile-double > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .ul__footer{
    display: none;
  }
  .ul__footer--contacts{
    display: none;
  }
  
  .ul__footer > li{
    display: inline-block;
    max-width: 306px;
  }
  
  .social--media.--not-mobile{
    display: none;
  }
  
  .footer__ul.--mobile{
    display: block;
    font-size: 14px;
  }
  
  .rules{
    text-decoration: solid;
  }
  
  /* ------------------------------------------------ */
  
  .--not-mobile{
    display: none !important;
  }
  }
  
@media(max-width: 500px){
    .grid{
      flex-direction: column;
    }

    .grid > div{
      width: 100%;
    }

}

.tel {
  text-decoration: none;
  color: var(--color-black);
}

#mobileMenu{
  background-color: var(--color-dark-white);
  color: var(--color-black);
  padding: 3vw;
  display: none;
  flex-direction: row;
  text-align: left;
  transition: transform 1s ease-in-out;
}

.ul__mobile--menu li {
  font-size: 20px;
}